body {
    background-color: rgb(224, 82, 82);
}
.container {
    background-color: rgb(224, 82, 82);
    color: white;
}
.navbar {
    background-color: rgb(224, 82, 82);
    color: rgb(224, 82, 82);
}

.navlink {
    color: white;
}
.nav-item {
    color: white;
}

#projects {
text-align: center;
}

.card {
    background-color: rgb(224, 82, 82);
    text-align: center;
}
;
